*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

.container{
    position: relative;
    background-color: white;
    height: 500px;
}


.immagine-grande img{
    width: 50%;
    position: relative;
    display: block;
}

.immagine-piccola{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 80%;
}

.immagine-piccola img{
    width: 50%;
    height: calc(100% / 5);
    object-fit: cover;
}

.immagine-grande.active{
    display: block;
}

.up{
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: lightgray;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    padding: 3px;
    transform: translate(60px);
    top: 5px;
}

.down{
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: lightgray;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    padding: 6px;
    transform: translate(60px);
    bottom: 5px;
} 
