*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

.container{
    background-color: white;
    height: 500px;
}

.immagini-piccole img{
    height: calc(100% / 5);
    width: 100%;
}

.immagini-grandi{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.immagini-grandi img{
    width: 50%;
}

.img-dx{
    width: 11%;
    position: relative;
    left: 349px;
}

.img-sx img{
    width: 60%;
    height: 100%;
    object-fit: cover;
}

.item{
    height: 50vh;
    display: none;
    overflow: hidden;
}

.item.active{
    display: block;
}

.up{
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: lightgray;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    padding: 3px;
    transform: translate(60px);
    top: 5px;
}

.down{
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: lightgray;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    padding: 6px;
    transform: translate(60px);
    bottom: 5px;
}
